
{% extends "base.html" %}

{% block content %}
<div class="jumbotron" style="margin: 15px;">
    <h1>Welcome to the Web Scraper Exercise!</h1>
    <p>This application demonstrates web scraping and data visualization using Flask, Selenium, and BeautifulSoup.</p>
    <p>Use the buttons below to filter and view the data:</p>
    <a href="/firstfilter" class="btn btn-primary btn-lg" role="button" aria-pressed="true">First Task</a>
    <a href="/secondfilter" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Second Task</a>
</div>
{% endblock %}